.logo{
  height: 70px;
margin: 0px;
}

  body {
    max-width: 100%;
    width: 100%;
    padding: 20px;
    background:url("./parcel.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
 label{
  font-size: 28px;
  font-weight: bold;
 }
  
  .form {
    top: 90px;
    height: 330px;
  }
  
  
input {
  max-width: 100%;
    width: 450px;
    height: 30px;
    border-radius: 5px;
    border: 3px solid black;
  }
  
  .signUp {
    width: 150px;
    height: 40px;
    color: black;
    background-color: white;
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  

.signUp:hover {
  background-color:red
}


#login {
  color: white;
  padding: 3px 15px;
  background-color: red;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}
 
a{
  text-decoration: none;
  color: black;
}


i{
  font-size: 22px;
}